<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>Twitlysis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        .form-control-borderless {
            border: none;
        }

        .form-control-borderless:hover,
        .form-control-borderless:active,
        .form-control-borderless:focus {
            border: none;
            outline: none;
            box-shadow: none;
        }
    </style>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand tab" href="#">
            <h2>Twitlysis</h2>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>



    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
    <div class="container">
        <br />
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <fieldset>
                    <form class="card card-sm" action="/" method="post">
                        <div class="card-body row no-gutters align-items-center">
                            <div class="col-auto">
                                <i class="fas fa-search h4 text-body"></i>
                            </div>
                            <!--end of col-->
                            <div class="col">
                                <input class="form-control form-control-lg form-control-borderless" type="search" name="query"
                                    placeholder="Search topics or keywords" required>
                            </div>
                            <!--end of col-->
                            <div class="col-auto">
                                <button class="btn btn-lg btn-success" type="submit">Search</button>
                            </div>
                            <!--end of col-->
                        </div>
                    </form>
                </fieldset>
            </div>
            <!--end of col-->
        </div>
    </div>

    <div class="container mt-5">
        <% if (query != null) { %>
        <div class="chart-container justify-content-center align-items-center" style="position: relative; height:30vh; width:30vw">
            <canvas id="myChart"></canvas>
        </div>
        <% } %>
        <hr>
        <h1>Tweets</h1>
        <hr>
        <ul class="list-group">
            <% if (query != null){ %>
            <% for (var q of query){ %>
            <li class = "card list-group-item mt-4" >
                <%= q %> 
            </li>
            <% } } %>
        </ul>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
    <% var r = red %>
    <% var g = green %>
    <script type="text/javascript">
        var ctx = document.getElementById("myChart");
        var p1 = <%= r  %>;
        var p2 = <%= g  %>;
        console.log(p1);
        console.log(p2);
        
            var myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ["Negative","Positive"],
                    datasets: [{
                        label: '# of Votes',
                        data: [p1, p2],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)', 
                            'rgba(75, 192, 192, 0.2)'
                           
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(75, 192, 192, 1)'
                        ],
                        borderWidth: 1
                    }]
                }
            });
    </script>
</body>

</html>